[Unit]
Description=ZTE MF283+ Manager
After=network.target
StartLimitIntervalSec=10


[Service]
Type=simple
Restart=always
RestartSec=5
#User=serviceuser
WorkingDirectory=$PWD
#ExecStartPre=
ExecStart=$PWD/src/zte-cli.py --check --repeat 8640 --interval 5 --delete

#ExecStartPost
#ExecStop=
#ExecReload=


[Install]
WantedBy=multi-user.target
