[Unit]
Description=ZTE MF283+ Manager
After=network.target
StartLimitIntervalSec=10


[Service]
Type=simple
Restart=always
RestartSec=1
#User=serviceuser
ExecStartPre=
ExecStart=$PWD/src/zte-cli.py --check --repeat 8640 --interval 5 --delete
WorkingDirectory=$PWD

#ExecStartPost
#ExecStop=
#ExecReload=


[Install]
WantedBy=multi-user.target
